<a href="https://colab.research.google.com/github/SamuGalli/DIQ/blob/main/4_Data_Wranling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **4. DATA WRANGLING**

Import libraries:

In [145]:
import pandas as pd
import numpy as np
import re

Import data:

In [146]:
HOTELS = pd.read_csv(
    "https://raw.githubusercontent.com/SamuGalli/DIQ/main/Comune-di-Milano---Strutture-ricettive-alberghiere.csv",
    sep=';',
    encoding='unicode_escape'
)

In [147]:
HOTELS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ubicazione                    451 non-null    object
 1   Tipo via                      437 non-null    object
 2   Descrizione via               437 non-null    object
 3   Civico                        421 non-null    float64
 4   Codice via                    437 non-null    float64
 5   ZD                            437 non-null    float64
 6   Camere                        450 non-null    float64
 7   Camere piano                  345 non-null    object
 8   Categoria                     444 non-null    object
 9   Insegna                       441 non-null    object
 10  Piani totali                  187 non-null    float64
 11  Piano piano                   199 non-null    object
 12  Posti letto                   450 non-null    float64
 13  Posti letto per piano         345 non-null    object
 14  Tipo attività struture extra  441 non-null    object
dtypes: float64(6), object(9)
memory usage: 53.0+ KB

1. Column Renaiming:

In [148]:
#Change the name of multiple columns: "category" to "cat" and fundedDate to FD
HOTELS.rename(columns ={"Camere ":"Numero_Camere","Camere piano": "Camere_Per_Piano", "Categoria": "Categoria_Stelle", "Piano piano":"Dettaglio_Piani"})

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere_Per_Piano,Categoria_Stelle,Insegna,Piani totali,Dettaglio_Piani,Posti letto,Posti letto per piano,Tipo attività struture extra
0,ALZ NAVIGLIO GRANDE N. 8 (z.d. 6),ALZ,NAVIGLIO GRANDE,8.0,5144.0,6.0,14.0,NaN,4,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Albergo
1,codvia 0000 num.024 ; (),NaN,NaN,NaN,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
2,CSO BUENOS AIRES N. 18 (z.d. 3),CSO,BUENOS AIRES,18.0,2129.0,3.0,16.0,16,1,hotel aurora,1.0,1,25.0,25,Albergo
3,CSO BUENOS AIRES N. 26 (z.d. 3),CSO,BUENOS AIRES,26.0,2129.0,3.0,25.0,NaN,3,hotel buenos aires,NaN,NaN,39.0,NaN,Albergo
4,CSO BUENOS AIRES N. 2 (z.d. 3),CSO,BUENOS AIRES,2.0,2129.0,3.0,46.0,15;11;8,3,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Albergo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,VLE TUNISIA N. 6 (z.d. 3),VLE,TUNISIA,6.0,2121.0,3.0,13.0,16,1,hotel kennedy,1.0,6,23.0,23,Albergo
447,VLE TUNISIA N. 9 (z.d. 3),VLE,TUNISIA,9.0,2121.0,3.0,50.0,3;6;9;9;9,4,st. george hotel,NaN,A;1;2;3;4,99.0,5;16;26;26;26,Albergo
448,VLE VITTORIO VENETO N. 30 (z.d. 2),VLE,VITTORIO VENETO,30.0,2107.0,2.0,15.0,NaN,2,hotel casa mia,NaN,NaN,25.0,NaN,Albergo
449,VLE ZARA N. 1 (z.d. 9),VLE,ZARA,1.0,1170.0,9.0,32.0,NaN,4,casa albergo residence zara lagosta,NaN,NaN,64.0,NaN,Residence
450,VLE ZARA N. 89 (z.d. 9),VLE,ZARA,89.0,1170.0,9.0,22.0,12;7;4,3,hotel gala,3.0,R;1;2,35.0,20;12;7,Albergo

2. Sorting:

In [149]:
#ordino per numero stelle
HOTELS.sort_values('Categoria', ascending=True)

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
111,VIA CATALANI ALFREDO N. 69 (z.d. 3),VIA,CATALANI ALFREDO,69.0,2425.0,3.0,20.0,3;4;4;4;4;1,1,albergo la pace,6.0,1;2;3;4;5;6,33.0,6;0;0;0;0;2,Albergo
80,VIA BENEFATTORI DELL'OSPEDALE N. 24 (z.d. 9),VIA,BENEFATTORI DELL'OSPEDALE,24.0,1522.0,9.0,10.0,3;4,1,albergo sicilia,NaN,1;2,19.0,5;6,Albergo
78,VIA BARTOLOZZI FRANCESCO N. 9 (z.d. 4),VIA,BARTOLOZZI FRANCESCO,9.0,3267.0,4.0,7.0,7,1,hotel rossovino,NaN,NaN,12.0,12,Albergo
293,VIA PORPORA NICOLA ANTONIO N. 87 (z.d. 3),VIA,PORPORA NICOLA ANTONIO,87.0,2229.0,3.0,18.0,NaN,1,hotel ca grande,NaN,NaN,21.0,NaN,Albergo
291,VIA PORPORA NICOLA ANTONIO N. 52 (z.d. 3),VIA,PORPORA NICOLA ANTONIO,52.0,2229.0,3.0,10.0,3;3;2,1,pensione oriente,3.0,T;1;2,19.0,6;6;3,Albergo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,VIA FORCELLA VINCENZO N. 6 (z.d. 6),VIA,FORCELLA VINCENZO,6.0,5127.0,6.0,28.0,NaN,NaN,MAGNA PARS SUITES MILANO,NaN,NaN,60.0,NaN,Albergo
257,VIA PALMANOVA N. 153 (z.d. 2),VIA,PALMANOVA,153.0,2390.0,2.0,59.0,NaN,NaN,HOTEL ADAM,NaN,NaN,99.0,NaN,Albergo
301,VIA RICORDI GIOVANNI N. 10 (z.d. 3),VIA,RICORDI GIOVANNI,10.0,2251.0,3.0,23.0,NaN,NaN,HOTEL ADLER,NaN,NaN,47.0,NaN,Albergo
322,VIA SANTA RADEGONDA N. 14 (z.d. 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,VLE BRENTA N. 33 (z.d. 4),VLE,BRENTA,33.0,4151.0,4.0,12.0,12,NaN,hotel brenta milano,NaN,NaN,23.0,23,Albergo

In [150]:
HOTELS.sort_values('ZD', ascending=True)

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
44,PZA CINQUE GIORNATE N. 6 (z.d. 1),PZA,CINQUE GIORNATE,6.0,3053.0,1.0,22.0,NaN,2,hotel cinque giornate,NaN,NaN,48.0,NaN,Albergo
42,PZA BECCARIA CESARE N. 6 subingresso con riduz...,PZA,BECCARIA CESARE,6.0,306.0,1.0,15.0,7;20;10,1,hotel nuovo,NaN,1;2;3,33.0,14;37;13,Albergo
324,VIA SANTA SOFIA N. 10 (z.d. 1),VIA,SANTA SOFIA,10.0,408.0,1.0,158.0,NaN,4,UPTOWN PALACE,NaN,NaN,318.0,NaN,Albergo
325,VIA SANTA SOFIA N. 16 (z.d. 1),VIA,SANTA SOFIA,16.0,408.0,1.0,35.0,0,3,hotel canada,NaN,NaN,78.0,0,Albergo
321,VIA SANTA MARIA FULCORINA N. 15 (z.d. 1),VIA,SANTA MARIA FULCORINA,15.0,630.0,1.0,25.0,7;7;7;4,3,hotel nuovo biscione,4.0,1;2;3;4,34.0,10;10;10;4,Albergo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,VIA SANTA RADEGONDA N. 14 (z.d. 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,VIA PELLICO SILVIO N. 8 (z.d. 1),NaN,NaN,NaN,NaN,NaN,18.0,0,l,town house galleria,NaN,NaN,25.0,0,Albergo
355,VIA STEPHENSON GIORGIO Int. 55,NaN,NaN,NaN,NaN,NaN,256.0,NaN,4,NaN,NaN,NaN,512.0,NaN,Albergo
383,VIA UGOLINI GIUSEPPE num.021/3 ; (z.d. 9),NaN,NaN,NaN,NaN,NaN,8.0,8,2,hotel greco,NaN,NaN,20.0,20,Albergo
443,VLE SUZZANI GIOVANNI num.013/15 ; (z.d. 9),NaN,NaN,NaN,NaN,NaN,131.0,33,3,hotel ibis milano ca granda,4.0,1;2;3;4,262.0,66,Albergo

In [1]:
null_counts = HOTELS[['Ubicazione', 'Tipo via', 'Descrizione via', 'Civico', 'ZD']].isnull().sum()
null_counts

NameError: name 'HOTELS' is not defined

In [152]:
# Funzione di normalizzazione del testo
def normalize(text):
    if pd.isna(text):
        return ""
    text = str(text).strip().upper()
    # Rimuove il punto decimale se esiste ed è seguito da zero
    if text.replace('.', '').isdigit():
        text = str(int(float(text)))
    return text

# Funzione di verifica corrispondenza
def verifica_corrispondenza(riga):
    ubicazione_norm = normalize(riga['Ubicazione'])
    indirizzo_costruito = (
        normalize(riga['Tipo via']) + " " +
        normalize(riga['Descrizione via']) + " N. " +
        normalize(riga['Civico']) + " (Z.D. " +
        normalize(riga['ZD']) + ")"
    )
    #if ubicazione_norm[:len(indirizzo_costruito)] != indirizzo_costruito:
    #    print(ubicazione_norm, ' === ', indirizzo_costruito)
    return ubicazione_norm[:len(indirizzo_costruito)] == indirizzo_costruito

In [153]:
# Funzione per estrarre i valori
def estrai_valori(ubicazione):
    # Dizionario per i valori estratti
    risultato = {'Ubicazione': ubicazione, 'Tipo via': None, 'Descrizione via': None, 'Civico': None, 'ZD': None}
    
    # Regex per ciascun campo
    tipo_via_match = re.match(r'^([A-Z]{3})\b', ubicazione)  # Prime 3 lettere maiuscole
    descrizione_via_match = re.search(r'^[A-Z]{3}\s+(.*?)\s+(?:N\.|num\.)', ubicazione)  # Descrizione via
    civico_match = re.search(r'(?:N\.|num\.)\s*(\d+)', ubicazione)  # Numero civico
    zd_match = re.search(r'\(z\.d\.\s*(\d+)\)', ubicazione)  # Zona delimitata (z.d.)
    
    # Popolare il dizionario con i valori trovati
    if tipo_via_match:
        risultato['Tipo via'] = tipo_via_match.group(1)
    if descrizione_via_match:
        risultato['Descrizione via'] = descrizione_via_match.group(1).strip()
    if civico_match:
        risultato['Civico'] = int(civico_match.group(1).lstrip('0'))  # Rimuovere zeri iniziali
    if zd_match:
        risultato['ZD'] = zd_match.group(1)
    
    return risultato

In [154]:
HOTELS_UBICAZIONE = HOTELS[~HOTELS.apply(verifica_corrispondenza, axis=1)]

HOTELS_UBICAZIONE

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
1,codvia 0000 num.024 ; (),NaN,NaN,NaN,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
16,CSO ITALIA num.011/a ; (z.d. 1),NaN,NaN,NaN,NaN,NaN,39.0,8;16;17,3,hotel zurigio,3.0,T;1;2,70.0,14;24;21,Albergo
21,CSO MAGENTA num.019 ; (z.d. 1),NaN,NaN,NaN,NaN,NaN,48.0,8,4,hotel king,6.0,1;2;3;4;5;6,96.0,16;17;15,Albergo
22,CSO MATTEOTTI GIACOMO num.004/6 cinque stelle ...,CSO,MATTEOTTI GIACOMO,NaN,218.0,1.0,154.0,154,l,boscolo hotel exedra,NaN,NaN,308.0,308,Albergo
24,CSO SEMPIONE num.091 ; (z.d. 8),NaN,NaN,NaN,NaN,NaN,113.0,0,4,enterprise hotel,NaN,NaN,216.0,0,Albergo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,VLE FAENZA N. 12/13 (z.d. 6),VLE,FAENZA,41609.0,5350.0,6.0,8.0,NaN,1,HOTEL FAENZA,NaN,NaN,20.0,NaN,Albergo
427,VLE LOMBARDIA N. 55 licenza rilasciata dallo s...,VLE,LOMBARDIA,55.0,2400.0,3.0,28.0,0,3,HOTEL SAN FRANCISCO,NaN,NaN,55.0,0,Albergo
432,VLE MONZA N. 132 ang. via petrocchi n. 1; (z.d...,VLE,MONZA,132.0,2274.0,2.0,120.0,27;27;12;12;12;12;12;6,4,hotel concorde,8.0,1;2;3;4;5;6;7;8,254.0,45;45;30;30;30;30;30;14,Albergo
438,VLE PIAVE N. 5 2ø piano; (z.d. 1),VLE,PIAVE,5.0,2179.0,1.0,12.0,0,2,atena,NaN,NaN,24.0,0,Albergo
443,VLE SUZZANI GIOVANNI num.013/15 ; (z.d. 9),NaN,NaN,NaN,NaN,NaN,131.0,33,3,hotel ibis milano ca granda,4.0,1;2;3;4,262.0,66,Albergo

In [155]:
VALORI_ESTRATTI = HOTELS_UBICAZIONE['Ubicazione'].apply(estrai_valori)
valori_df = pd.DataFrame(list(VALORI_ESTRATTI))
valori_df

,Ubicazione,Tipo via,Descrizione via,Civico,ZD
0,codvia 0000 num.024 ; (),None,None,24.0,None
1,CSO ITALIA num.011/a ; (z.d. 1),CSO,ITALIA,11.0,1
2,CSO MAGENTA num.019 ; (z.d. 1),CSO,MAGENTA,19.0,1
3,CSO MATTEOTTI GIACOMO num.004/6 cinque stelle ...,CSO,MATTEOTTI GIACOMO,4.0,1
4,CSO SEMPIONE num.091 ; (z.d. 8),CSO,SEMPIONE,91.0,8
...,...,...,...,...,...
56,VLE FAENZA N. 12/13 (z.d. 6),VLE,FAENZA,12.0,6
57,VLE LOMBARDIA N. 55 licenza rilasciata dallo s...,VLE,LOMBARDIA,55.0,3
58,VLE MONZA N. 132 ang. via petrocchi n. 1; (z.d...,VLE,MONZA,132.0,2
59,VLE PIAVE N. 5 2ø piano; (z.d. 1),VLE,PIAVE,5.0,1
60,VLE SUZZANI GIOVANNI num.013/15 ; (z.d. 9),VLE,SUZZANI GIOVANNI,13.0,9

In [156]:
def update_df_by_location(df1, df2, columns_to_update):

    # Creiamo una copia del df1 per non modificare l'originale
    result_df = df1.copy()
    
    # Iteriamo sulle righe del df2
    for idx2, row2 in df2.iterrows():
        # Troviamo le righe in df1 che hanno la stessa ubicazione
        mask = result_df['Ubicazione'] == row2['Ubicazione']
        
        # Se troviamo corrispondenze, aggiorniamo le colonne specificate
        if mask.any():
            for col in columns_to_update:
                if col in df2.columns:
                    result_df.loc[mask, col] = row2[col]
    
    return result_df


RESULT = update_df_by_location(HOTELS, valori_df, ['Tipo via', 'Descrizione via', 'Civico', 'ZD'])
HOTELS = RESULT
HOTELS

C:\Users\dferracuti\AppData\Local\Temp\ipykernel_11928\2695356867.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  result_df.loc[mask, col] = row2[col]

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
0,ALZ NAVIGLIO GRANDE N. 8 (z.d. 6),ALZ,NAVIGLIO GRANDE,8.0,5144.0,6.0,14.0,NaN,4,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Albergo
1,codvia 0000 num.024 ; (),None,None,24.0,NaN,NaN,259.0,259,4,radisson blu hotel milan,NaN,NaN,518.0,518,Albergo
2,CSO BUENOS AIRES N. 18 (z.d. 3),CSO,BUENOS AIRES,18.0,2129.0,3.0,16.0,16,1,hotel aurora,1.0,1,25.0,25,Albergo
3,CSO BUENOS AIRES N. 26 (z.d. 3),CSO,BUENOS AIRES,26.0,2129.0,3.0,25.0,NaN,3,hotel buenos aires,NaN,NaN,39.0,NaN,Albergo
4,CSO BUENOS AIRES N. 2 (z.d. 3),CSO,BUENOS AIRES,2.0,2129.0,3.0,46.0,15;11;8,3,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Albergo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,VLE TUNISIA N. 6 (z.d. 3),VLE,TUNISIA,6.0,2121.0,3.0,13.0,16,1,hotel kennedy,1.0,6,23.0,23,Albergo
447,VLE TUNISIA N. 9 (z.d. 3),VLE,TUNISIA,9.0,2121.0,3.0,50.0,3;6;9;9;9,4,st. george hotel,NaN,A;1;2;3;4,99.0,5;16;26;26;26,Albergo
448,VLE VITTORIO VENETO N. 30 (z.d. 2),VLE,VITTORIO VENETO,30.0,2107.0,2.0,15.0,NaN,2,hotel casa mia,NaN,NaN,25.0,NaN,Albergo
449,VLE ZARA N. 1 (z.d. 9),VLE,ZARA,1.0,1170.0,9.0,32.0,NaN,4,casa albergo residence zara lagosta,NaN,NaN,64.0,NaN,Residence
450,VLE ZARA N. 89 (z.d. 9),VLE,ZARA,89.0,1170.0,9.0,22.0,12;7;4,3,hotel gala,3.0,R;1;2,35.0,20;12;7,Albergo

In [157]:
null_counts = HOTELS[['Ubicazione', 'Tipo via', 'Descrizione via', 'Civico', 'ZD']].isnull().sum()
null_counts

Ubicazione         0
Tipo via           1
Descrizione via    2
Civico             1
ZD                 8
dtype: int64

In [158]:
HOTELS[HOTELS['Civico'].isnull()]

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
355,VIA STEPHENSON GIORGIO Int. 55,VIA,None,NaN,NaN,None,256.0,NaN,4,NaN,NaN,NaN,512.0,NaN,Albergo

 Standardization:

  *Standardization* consists of reorganizazation of composed fields, data type checks, and replacement of alternative spellings with a single one. This type of reorganization has the purpose of making comparisons easier.

In [159]:
#standardizing columns
HOTELS.loc[HOTELS['Tipo via'] == 'CSO', 'Tipo via'] = 'CORSO'
HOTELS.loc[HOTELS['Tipo via'] == 'PZA', 'Tipo via'] = 'PIAZZA'
# HOTELS.loc[HOTELS['Tipo via'] == 'VIA', 'Tipo via'] = 'VIA'
HOTELS.loc[HOTELS['Tipo via'] == 'ALZ', 'Tipo via'] = 'ALZAIA'
HOTELS.loc[HOTELS['Tipo via'] == 'VLE', 'Tipo via'] = 'VIALE'
HOTELS.loc[HOTELS['Categoria'] == '1' , 'Categoria'] = '1 STELLA'
HOTELS.loc[HOTELS['Categoria'] == 'l' , 'Categoria'] = '1 STELLA'
HOTELS.loc[HOTELS['Categoria'] == '2', 'Categoria'] = '2 STELLE'
HOTELS.loc[HOTELS['Categoria'] == '3', 'Categoria'] = '3 STELLE'
HOTELS.loc[HOTELS['Categoria'] == '4', 'Categoria'] = '4 STELLE'
HOTELS.loc[HOTELS['Categoria'] == '5', 'Categoria'] = '5 STELLE'
# HOTELS.loc[HOTELS['Categoria'] == '5 STELLE LUSSO', 'Categoria'] = '5 STELLE LUSSO'
HOTELS.loc[HOTELS['Tipo attività struture extra'] == 'Albergo', 'Tipo attività struture extra'] = 'Hotel'
# RIEMPIO CON NON SPECIFICATO I CAMPI VUOTI
HOTELS['Tipo attività struture extra'] = HOTELS['Tipo attività struture extra'].fillna('Non Specificato')
HOTELS['Insegna'] = HOTELS['Insegna'].fillna('Non Specificato')


HOTELS

,Ubicazione,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
0,ALZ NAVIGLIO GRANDE N. 8 (z.d. 6),ALZAIA,NAVIGLIO GRANDE,8.0,5144.0,6.0,14.0,NaN,4 STELLE,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Hotel
1,codvia 0000 num.024 ; (),None,None,24.0,NaN,NaN,259.0,259,4 STELLE,radisson blu hotel milan,NaN,NaN,518.0,518,Hotel
2,CSO BUENOS AIRES N. 18 (z.d. 3),CORSO,BUENOS AIRES,18.0,2129.0,3.0,16.0,16,1 STELLA,hotel aurora,1.0,1,25.0,25,Hotel
3,CSO BUENOS AIRES N. 26 (z.d. 3),CORSO,BUENOS AIRES,26.0,2129.0,3.0,25.0,NaN,3 STELLE,hotel buenos aires,NaN,NaN,39.0,NaN,Hotel
4,CSO BUENOS AIRES N. 2 (z.d. 3),CORSO,BUENOS AIRES,2.0,2129.0,3.0,46.0,15;11;8,3 STELLE,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Hotel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,VLE TUNISIA N. 6 (z.d. 3),VIALE,TUNISIA,6.0,2121.0,3.0,13.0,16,1 STELLA,hotel kennedy,1.0,6,23.0,23,Hotel
447,VLE TUNISIA N. 9 (z.d. 3),VIALE,TUNISIA,9.0,2121.0,3.0,50.0,3;6;9;9;9,4 STELLE,st. george hotel,NaN,A;1;2;3;4,99.0,5;16;26;26;26,Hotel
448,VLE VITTORIO VENETO N. 30 (z.d. 2),VIALE,VITTORIO VENETO,30.0,2107.0,2.0,15.0,NaN,2 STELLE,hotel casa mia,NaN,NaN,25.0,NaN,Hotel
449,VLE ZARA N. 1 (z.d. 9),VIALE,ZARA,1.0,1170.0,9.0,32.0,NaN,4 STELLE,casa albergo residence zara lagosta,NaN,NaN,64.0,NaN,Residence
450,VLE ZARA N. 89 (z.d. 9),VIALE,ZARA,89.0,1170.0,9.0,22.0,12;7;4,3 STELLE,hotel gala,3.0,R;1;2,35.0,20;12;7,Hotel

 Dealing with Missing Data:

  - drop missing values with ***dropna***
  (axis --> "0": drops the rows with missing;
  "1": drops column with missing)

  - fill missing values with ***fillna***
  (method --> "ffill": propagate last valid observation forward to next valid;
  "bfill": use next valid observation to fill gap; axis (along which to fill missing values) --> "0": rows; "1": columns)

In [160]:
# I define critical cols and i drop rows with missing values for critical columns
critical_columns = ['Tipo via', 'Descrizione via', 'Civico', 'ZD', 'Categoria']
HOTELS = HOTELS.dropna(subset=critical_columns, axis=0)
"""# I fill missing values for numeric columns using (ffill)
numeric_columns = HOTELS.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_columns:
  HOTELS[col] = HOTELS[col].fillna(method='ffill', axis=0)
#I fill missing values for object columns (bfill)
non_numeric_columns = HOTELS.select_dtypes(include=['object']).columns
for col in non_numeric_columns:
  HOTELS[col] = HOTELS[col].fillna(method='bfill', axis=0)"""

HOTELS = HOTELS.drop(['Ubicazione'], axis=1)

HOTELS

,Tipo via,Descrizione via,Civico,Codice via,ZD,Camere,Camere piano,Categoria,Insegna,Piani totali,Piano piano,Posti letto,Posti letto per piano,Tipo attività struture extra
0,ALZAIA,NAVIGLIO GRANDE,8.0,5144.0,6.0,14.0,NaN,4 STELLE,HOTEL MAISON BORELLA,NaN,NaN,25.0,NaN,Hotel
2,CORSO,BUENOS AIRES,18.0,2129.0,3.0,16.0,16,1 STELLA,hotel aurora,1.0,1,25.0,25,Hotel
3,CORSO,BUENOS AIRES,26.0,2129.0,3.0,25.0,NaN,3 STELLE,hotel buenos aires,NaN,NaN,39.0,NaN,Hotel
4,CORSO,BUENOS AIRES,2.0,2129.0,3.0,46.0,15;11;8,3 STELLE,albergo fenice,4.0,1;2;3;4,98.0,24;19;13,Hotel
5,CORSO,BUENOS AIRES,33.0,2129.0,3.0,65.0,0,4 STELLE,GALAXY G SRL,NaN,NaN,97.0,0,Hotel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,VIALE,TUNISIA,6.0,2121.0,3.0,13.0,16,1 STELLA,hotel kennedy,1.0,6,23.0,23,Hotel
447,VIALE,TUNISIA,9.0,2121.0,3.0,50.0,3;6;9;9;9,4 STELLE,st. george hotel,NaN,A;1;2;3;4,99.0,5;16;26;26;26,Hotel
448,VIALE,VITTORIO VENETO,30.0,2107.0,2.0,15.0,NaN,2 STELLE,hotel casa mia,NaN,NaN,25.0,NaN,Hotel
449,VIALE,ZARA,1.0,1170.0,9.0,32.0,NaN,4 STELLE,casa albergo residence zara lagosta,NaN,NaN,64.0,NaN,Residence
450,VIALE,ZARA,89.0,1170.0,9.0,22.0,12;7;4,3 STELLE,hotel gala,3.0,R;1;2,35.0,20;12;7,Hotel

In [161]:
print(HOTELS.dtypes)

Tipo via                         object
Descrizione via                  object
Civico                          float64
Codice via                      float64
ZD                               object
Camere                          float64
Camere piano                     object
Categoria                        object
Insegna                          object
Piani totali                    float64
Piano piano                      object
Posti letto                     float64
Posti letto per piano            object
Tipo attività struture extra     object
dtype: object

In [162]:
format_mapping = {
        "Camere": "{:,.0f}",       # No decimals for room counts
        "Posti letto": "{:,.0f}",  # No decimals for bed counts
        "Civico": "{:,.0f}",       # Formatting house numbers as integers
        "Piani totali": "{:,.0f}", # Formatting total floors as integers
        "Categoria": "{}"          # Keep category as it is
    }
HOTELS.style.format(format_mapping)

In [163]:
HOTELS.to_csv('HOTELS_after_data_wranling.csv', index=False)